{
  "extends": "airbnb",
  "rules": {
    "func-names": ["off", "never"],
    "linebreak-style": ["off"],
    "arrow-parens": ["off"],
    "no-prototype-builtins": ["off"],
    "no-var": ["off"],
    "no-restricted-syntax": ["off"],
    "vars-on-top": ["off"],
    "no-param-reassign": ["off"],
    "prefer-arrow-callback": ["off"],
    "comma-dangle": ["off"],
    "eol-last": ["off"],
    "strict": ["off"],
    "indent": ["off"],
    "no-multi-assign": ["off"],
    "object-shorthand": ["off"],
    "prefer-template": ["off"],
    "object-curly-spacing": ["off"],
    "no-plusplus": ["off"],
    "no-unused-expressions": ["off"],
    "no-trailing-spaces": ["error", { "skipBlankLines": true }],
    "global-require": ["off"],
    "no-sparse-arrays": ["off"],
    "comma-spacing": ["off"],
    "brace-style": ["off"],
    "space-before-function-paren": ["off"],
    "no-unused-vars": ["off"],
    "key-spacing": ["off"],
    "object-property-newline": ["off"],
    "block-spacing": ["off"],
    "consistent-return": ["off"],
    "keyword-spacing": ["off"],
    "semi": ["off"],
    "no-path-concat": ["off"],
    "prefer-rest-params": ["off"],
    "no-underscore-dangle": ["off"],
    "dot-notation": ["off"],
    "no-use-before-define": ["off"],
    "no-empty-function": ["off"],
    "one-var": ["off"],
    "radix": ["off"],
    "no-empty": ["off"],
    "no-mixed-operators": ["off"],
    "no-control-regex": ["off"],
    "one-var-declaration-per-line": ["off"],
    "max-len": [1, 160, 2, {"ignoreComments": true}]
  }
}