{
  "extends": "../.eslintrc",
  "rules": {
    "no-console": ["off"],
    "max-len": ["off"],
    "no-return-assign": ["off"],
    "comma-style": ["off"]
  },
  "globals": {
    "describe": true,
    "it": true,
    "expect": true,
    "beforeEach": true,
    "afterEach": true
  }
}